.home {
    background-color: rgb(239, 236, 236);
}

.home-1 {
    background-color: rgb(223, 216, 216);
}

.hero-text {
    margin-top: 60px;
    margin-left: 60px;
}

.signin {
    margin-right: 200px;
    width: 100%;
}

.google {
    height: 20px;
    margin-right: 10px;
}

.underline {
    background-color: gray;
    width: 120px;
    height: 2px;
    margin-top: 20px;
}

.icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.strength {
    height: 1px;
    width: 70px;
}

.pass {
    margin-left: 65%;
    margin-top: 0;
}

.underline-1 {
    background-color: purple;
    width: 50px;
    height: 2px;
}

.btnx {
    border: 2px;
    color: purple;
    font-weight: 600;
    width: 100%;
    margin-bottom: 20px;

}

.btnx:hover {
    background-color: rgb(167, 56, 167);
    color: white;
}

.Navbar-1 {
    height: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.img {
    height: 200px;
}

.people {
    color: rgb(116, 44, 116);
    font-size: 25px;
}

.people-1:hover .people {
    color: white;

}

.place {
    color: green;
    font-size: 25px;
}

.place-1:hover .place {
    color: white;
}

.product {
    color: rgb(169, 50, 7);
    font-size: 25px;
}

.product-1:hover .product {
    color: white;
}

.program {
    color: skyblue;
    font-size: 25px;
}

.program-1:hover .program {
    color: white;
}

.people-1:hover {
    background-color: purple;
    color: white;
}

.people-2:hover {
    background-color: red;
    color: white;
}

.people-3:hover {
    background-color: green;
    color: white;
}

.place-1:hover {
    background-color: green;
    color: white;
}

.product-1:hover {
    background-color: red;
    color: white;
}

.program-1:hover {
    background-color: skyblue;
    color: white;
}

.people-1 {
    border: solid 2px purple;
}

.place-1 {
    border: solid 2px green;
}

.product-1 {
    border: solid 2px red;
}

.program-1 {
    border: solid 2px skyblue;
}

.btn-1 {
    border: solid 2px rgb(164, 32, 164);
    color: rgb(164, 32, 164);
}

.btn-2 {
    border: solid 2px rgb(164, 64, 164);
    width: 150px;
    background-color: white;
}

.plus {
    color: skyblue;
    margin: 20px;
    font-size: 25px;
}

.Own {
    background-color: rgb(189, 232, 249);
    height: 50%;
    padding: 20px;
}


.test {
    background-color: rgb(227, 206, 246);
}

.text {
    color: rgb(165, 65, 165);
    font-size: 30px;
    /* margin-bottom: 20px; */
}

.play {
    font-size: 40px;
    color: white;
}

.video {
    background-color: rgb(202, 190, 212);
    width: 70%;
    padding: 10px;

}

.range {
    height: 3px;
    width: 60%;
    background-color: white;
    margin-top: 30px;
    /* margin-left: 20px; */
}

.round {
    background-color: rgb(165, 65, 165);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 20px;
}

.img-1 {
    width: 60px;
    margin-left: 20px;
    height: 60px;
}

.img-2 {
    height: 80px;
}

.btn-3 {
    background-color: purple;
    padding: 10px;
    height: 50px;
    width: 120px;
    color: white;
    font-weight: 500;
}

.icon-1 {
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    /* padding: 10px; */
}

.Go {
    color: purple;
    background-color: white;
    padding: 2px;
    /* margin-right: px; */
}

.inp {
    border: solid 2px purple;

}

.invite {
    background-color: purple;
    color: white;
    font-weight: 600;
}

.deco {
    text-decoration: none;
    color: black;
}

.ul {
    list-style-type: none;
}

.span {
    background-color: rgb(225, 241, 247);
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 50%; */
}

.last {
    background-color: rgb(210, 190, 230);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}